<section>
  <div class="cardpage">
    <h1 class="texttitle text-center">All <%= current_user.first_name %>'s bookings</h1>
    <div class="showbigcards">
      <% current_user.bookings.each do |booking| %>
        <div class="showsmallcards">
          <%= cl_image_tag booking.car.photos.first.key, height: 180, width: 280, crop: :fill, class:"carimage"%>
          <div class="booking-text">
            <strong>Booking Starts:</strong>
            <%= booking.start_date %>
            <strong>Booking Ends:</strong>
            <%= booking.end_date %>
            <strong>Car Owner:</strong>
            <%= booking.car.user.first_name %>
            <%= booking.car.user.last_name %>
          </div>

          <div class="button-my-bookings">
            <%= link_to "View", car_path(booking.car.id), class:"button-2"%>
            <%= link_to "Delete",
              booking_path(booking.id),
              data: {turbo_method: :delete, turbo_confirm: "Are you sure?"},
              class:"button-3"
            %>
          </div>
        </div>
      <% end %>
    <div>
  </div>
</section>
