<div class="container p-3">
  <h1 class="text-center">All my scheduled bookings</h1>
  <div class="container justify-content">
    <div class="row">
      <% current_user.bookings.each do |booking| %>
        <div class="col-3 my-3">
          <div class="card-body">
            <div class="card text-center shadow-lg p-3 mb-5 bg-white rounded" >

            <%= cl_image_tag booking.car.photos.first.key, height: 180, width: 280, crop: :fill, class:"img-thumbnail  mx-auto w-100 " %>

              <p ><strong><%= booking.car.model %></strong></p>
              <div class= " d-flex justify-content-between"> </div>

              <strong>Booking Starts:</strong>
              <%= booking.start_date %>
              <strong>Booking Ends:</strong>
              <%= booking.end_date %>
              <strong>Car Owner:</strong>
              <%= booking.car.user.first_name %> <%= booking.car.user.last_name %>
              <%= link_to "View", car_path(booking.car.id), class:"btn btn-success"%>
              <%= link_to "Delete",
                booking_path(booking.id),
                data: {turbo_method: :delete, turbo_confirm: "Are you sure?"},
                class:"btn btn-danger"
              %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>

</div>
