<section class="text-center " >
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= image_url "background-large.jpg" %>');">
    <h1 class= "jumbotron-heading">Search Less. Live More.</h1>
    <p class="lead text-muted">We make finding the right car simple.</p>
    <div class="row justify-content-center">
      <div class="col-sm-8 my-3">
        <%= form_with url: root_path, method: :get, class: "d-flex" do %>
          <%= text_field_tag :query,
                params[:query],
                class: "form-control",
                placeholder: "What you are looking for?"
          %>
          <%= submit_tag "Search Now", name: "", class: "button-1" %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="cardpage">
    <h1 class="texttitle">All cars for Rent</h1>
    <div class="showbigcards">
      <% @cars.each do |car| %>
        <div class="showsmallcards">
          <%= cl_image_tag car.photos.first.key, height: 180, width: 280, crop: :fill, class:"carimage"%>
          <p><strong><%= car.model %></strong></p>
          <div class="cardtext">
            <p class="cardprice"><b>Price:</b> €<%= car.price %></p>
            <p><b>Capacity:</b> <%= car.seat_number %></p>
          </div>
          <%= link_to "See Offer", car_path(car.id), class:"button-2" %>
        </div>
      <% end %>
    <div>
  </div>
</section>
