<section class="jumbotron text-center" >
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= image_url "background-large.jpg" %>');">
    <h1 class= "jumbotron-heading">Search Less. Live More.</h1>
    <p class="lead text-muted">We make finding the right car simple.</p>
    <%= link_to "Search Now", "#", class: "btn btn-success" %>
  </div>

  <div class="container justify-content">
    <h1 class= "All-cars">All cars for Rent</h1>

    <div class="row">
        <% @cars.each do |car| %>
          <div class="col-3 my-3">
            <div class="card-body shadow-lg p-3 mb-5 bg-white rounded">
              <div class="card text-center">

              <%= cl_image_tag car.photos.first.key, height: 180, width: 280, crop: :fill, class:"img-thumbnail  mx-auto w-100 mb-3 " %>

              <p class="h4"><strong><%= car.model %></strong></p>
              <div class="d-flex justify-content-between">
                 <div class="m-3">
                  <strong>Price:</strong>
                  <%= car.price %>
                 </div>
                 <div class="m-3">
                  <strong>Capacity:</strong>
                  <%= car.seat_number %>
                 </div>
              </div>
                <%= link_to "See Offer", car_path(car.id), class:"btn btn-success" %>
            </div>
          </div>
        </div>
        <% end %>
    </div>
  </div>
</section>
