<div class="container">
<h2> Mariaplaats eo , Utrecht <%= @car.model %></h2>
<p>Per hours rate: <%= @car.price %></p>
<p> Seating: <%= @car.seat_number %></p>
<% @car.photos.each do |photo| %>
<%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill  %>
<div> <h2>Comment</h2>
<p>As good as a brand-new car. Alloy Rims. All original documents are complete. Non accidental. The original book of this car is also available. Bumper to bumper genuine car. Single handed used.</p>
</div>
 <% end %>
 <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
  Book Now!
  </button>
  <div class="collapse" id="collapseExample">
  <div class="card card-body">
Lorem ipsum dolor sit amet consectetur, adipisicing elit. Provident aliquam nostrum doloribus consequatur adipisci, hic soluta mollitia vel impedit rem, nemo, nulla cumque. Ducimus rerum nobis commodi fugit, doloribus modi!  </div>
</div>

<%= link_to "View All Car for Rent", root_path  %>
</div>
 </div>
