<div class= Details>
  <h2> <%= @car.address %>, <%= @car.model %></h2>
  <p>Per hours rate: <%= @car.price %></p>
  <p> Seating: <%= @car.seat_number %></p>
</div>

<div class="container p-3">

  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <% @car.photos.each_with_index do |photo, i| %>
        <div class="carousel-item <%= 'active' if i == 0 %>">
          <%= cl_image_tag photo.key, crop: :fill, class:"d-flex w-100"%>
        </div>
      <% end %>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

<div>
  <h2>Description</h2>
  <p><%= @car.description %></p>
</div>
  <div class="row">

     <% if (current_user != @car.user) %>
      <div class="col-sm">
        <%= link_to "Book this car", new_car_booking_path(@car.id), class:"btn btn-warning"  %>
      </div>
    <% end %>
      <div class="d-flex col-sm justify-content-end">
        <%= link_to "View All Car for Rent", root_path, class:"btn btn-success "   %>
      </div>

  </div>

</div>
