<div class="container">

  <% @car.photos.each do |photo| %>
    <div class="card">
      <div class="row">
        <div class="col-sm">
          <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill  %>
        </div>
        <div class="col-sm">
          <h2>Comment</h2>
          <p>As good as a brand-new car. Alloy Rims. All original documents are complete. Non accidental. The original book of this car is also available. Bumper to bumper genuine car. Single handed used.</p>
        </div>
      </div>
    </div>
  <% end %>
  <h2> Mariaplaats eo , Utrecht <%= @car.model %></h2>
  <p>Per hours rate: <%= @car.price %></p>
  <p> Seating: <%= @car.seat_number %></p>


  <div class="row">

      <div class="col-sm">
        <%= link_to "Book this car", new_car_booking_path(@car.id), class:"btn btn-success"  %>
      </div>
      <div class="d-flex col-sm justify-content-end">
        <%= link_to "View All Car for Rent", root_path, class:"btn btn-success"  %>
      </div>

  </div>

</div>
